@font-face {
  font-family: "SEGA LOGO FONT";
  src: local("SEGA LOGO FONT") url("../src/SEGA.TTF") format("TrueType");
}

.header {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  font-size: 50px;
  color: #0ccac4;
}
